{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<h1 style="text-align: center; margin-block:85px;margin-top: 12%;margin-bottom: 0%; color: #FF8A69; font-family: cursive;">Hey! {{user}}, Say your piece.</h1>
<div style="margin: 7%;">
<form method="POST" enctype="multipart/form-data" style="margin-left:30px;">
    {% csrf_token %}
    {{form | crispy}}
    <div class="d-grid gap-2 col-6 mx-auto">
    <input type="submit" class="btn btn-dark" value="Post" style="margin-block:50px;">
</div>  
</form>
</div>
{% endblock content %}